---
http_interactions:
- request:
    method: get
    uri: https://phish.in/api/v1/songs/invalid-option?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 23:43:04 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/invalid-option?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 23:43:05 GMT
recorded_with: VCR 5.0.0
