---
http_interactions:
- request:
    method: get
    uri: https://phish.in/api/v1/tags/jamcharts?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97f94e4079aadb971ae0a7fb977aa863"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":4,"name":"Jamcharts","slug":"jamcharts","group":"Curated
        Selections","color":"#e88890","priority":4,"description":"Phish.net Jam Charts
        selections (phish.net/jamcharts)","updated_at":"2019-02-10T06:58:41Z","show_ids":[],"track_ids":[6,7,10,20,24,26,36,37,41,50,51,52,55,79,94,111,115,133,140,142,145,146,147,216,245,251,269,284,298,300,304,307,308,317,319,324,330,332,333,340,341,344,354,355,367,371,382,383,412,413,434,480,482,487,489,495,502,523,527,534,539,596,600,605,632,634,650,661,796,800,803,836,859,919,973,983,1012,1026,1031,1040,1060,1061,1074,1076,1138,1142,1143,1144,1147,1156,1166,1168,1172,1177,1182,1185,1186,1194,1196,1198,1223,1260,1267,1269,1275,1291,1304,1331,1334,1336,1339,1354,1392,1450,1458,1488,1499,1513,15[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/invalidoption?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 10:09:53 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/invalidoption?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 10:09:53 GMT
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/search/invalidoption?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 10:09:54 GMT
recorded_with: VCR 5.0.0
