---
http_interactions:
- request:
    method: get
    uri: https://phish.in/api/v1/shows/2019-07-06?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"afa14471cd945ad92f59c0763224a507"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":2002,"date":"2019-07-06","duration":9535713,"incomplete":false,"sbd":false,"remastered":false,"tags":[],"tour_id":107,"venue":{"id":244,"slug":"fenway-park","name":"Fenway
        Park","other_names":[],"latitude":42.346674,"longitude":-71.09722,"shows_count":3,"location":"Boston,
        MA","updated_at":"2013-03-23T02:14:04Z"},"venue_name":"Fenway Park","taper_notes":"Phish\nFenway
        Park\nBoston, Massachusetts\n7/6/2019 \n\nSource: Schoeps CCM4V''S\u003eLunatec
        V2\u003eSound Devices 722 (24/44.1)\nFOB/DLFC/KFC/ZFC/AARP Section C5, Row
        8, 6 1/2'' High\nDSP: Sound Devices 722\u003eSound Forge 10.0\u003eCD Wave\u003eflac(16)\nID3
        Tagged In Foobar 2000\nRecorded By: Z-Man\nSeeded By: Z-Man \n\nDisc I  \n\n01
        Carini \u003e\n02 Possum \n03 Set your Soul Free \u003e\n04 Thread \n05 Wolfman''s
        Brother\n\nDisc II \n\n01 [...]
