---
http_interactions:
- request:
    method: get
    uri: https://phish.in/api/v1/songs/hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:47:26 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5a9f87b9f7153a6f95ef076a4519b90"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[{"id":330,"title":"Harry
        Hood","alias_for":null,"tracks_count":375,"slug":"harry-hood","updated_at":"2018-12-27T03:40:52Z"}],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[{"id":72736,"track_id":317,"tag_id":4,"created_at":"2019-04-14T01:02:23.321Z","notes":"Strong
        early \"Hood\" includes a long, slow-tempo intro (to 3:50) with dogs barking
        in the background, and a soaring and unusually long (for this period) Trey-led
        jam, prompting Fishman to comment \"that''s why I''m in the band.\"","starts_at_second":null,"ends_at_second":null,"transcript":null},{"id":70584,"track_id":487,"tag_id":4,"created_at":"2019-04-14T01:01:07.998Z","notes":"Exceptionally
        powerful early version with excellent Trey/Page interplay and a huge peak.
        A very moving \"Hood.\"","starts_at_second":null,"ends_at_second":null,"transcript":null},{"id":71289,"track_id":15063,"tag_id":4,"created_at":"2019-04-14T01:01:32.338Z","notes":"This
        is a terrific compact \"Hood\" with crisp, sharp playing, good interplay,
        and strong Trey. Great sbd r[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/harry-hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f92d834a7c6e5ba11d4d0f3b1462b8f"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":330,"title":"Harry
        Hood","alias_for":null,"tracks_count":375,"slug":"harry-hood","updated_at":"2018-12-27T03:40:52Z","tracks":[{"id":37,"show_id":6,"show_date":"1985-10-30","title":"Harry
        Hood","position":1,"duration":678113,"jam_starts_at_second":null,"set":"1","set_name":"Set
        1","likes_count":7,"slug":"harry-hood","tags":[{"id":1,"name":"SBD","priority":1,"group":"Audio","color":"#999999","notes":null,"transcript":null,"starts_at_second":null,"ends_at_second":null},{"id":4,"name":"Jamcharts","priority":4,"group":"Curated
        Selections","color":"#e88890","notes":"First known performance. Song structure
        today is remarkably similar to this initial version, but this one also has
        some added jamming before and during the \"Mr. Minor\" section. The main jam
        segment has the same melodic flow as today.","transcript":null,"starts_at_second":null,"ends_at_second":null}],"mp3":"https://phish.in/audio/000/000/037/37.mp3","song_ids":[330],"updated_at":"2013-03-30T04:10:43Z"},{"id":26817,"show_id":1357,"show_date":"1986-04-01","title":"Harry
        Hood","position":3,"duration":644833,"jam_starts_at_second":null,"set":"1","set_name":"Set
        1","likes_count":3,"slug":"harry-hood","tags":[],"mp3":"https://phish.in/audio/000/026/817/26817.mp3","song_ids":[330],"updated_at":"2013-04-07T22:43:55Z"},{"id":96,"show_id":10,"show_date":"1986-10-15","title":"Harry
        Hood","position":23,"duration":567510,"jam_starts_at_seco[...]
- request:
    method: get
    uri: https://phish.in/api/v1/shows/1985-10-30?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d3a9799024f64906ff2677fed557913"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":6,"date":"1985-10-30","duration":4886231,"incomplete":true,"sbd":true,"remastered":false,"tags":[{"id":1,"name":"SBD","priority":1,"group":"Audio","color":"#999999","notes":null}],"tour_id":3,"venue":{"id":326,"slug":"hunt-s","name":"Hunt''s","other_names":[],"latitude":44.475883,"longitude":-73.212072,"shows_count":9,"location":"Burlington,
        VT","updated_at":"2013-10-10T02:53:55Z"},"venue_name":"Hunt''s","taper_notes":"PHISH\r\n\r\nOctober
        30, 1985\r\nHunt''s, Burlington, VT\r\n\r\nSource:  Page''s Master \u003e
        cass \u003e cass\r\n\r\nTransfer:  Cass, 2nd gen \u003e HHB \u003e CDR \u003e
        Flac\r\n\r\nDisc One\r\n \r\n01. Harry Hood\r\n02. Dog Log \u003e\r\n03. Possum\r\n04.
        Slave to the Traffic Light\r\n05. Sneakin'' Sally\r\n06. I Wish\r\n07. Revival\r\n08.
        Alumni Blues \u003e\r\n09. Letter to Jimmy Page \u003e\r\n10. Alumni Blues\r\n11.
        Prep School Hippie\r\n\[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/invalid-option?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:47:29 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/invalid-option?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 20:47:29 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/songs/3%20mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:47:30 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/3%20mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 20:47:30 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/songs/mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:47:30 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 20:47:31 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/songs/mango?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:47:31 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/mango?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c01a331643292dcdabbdd2e10aa1417a"
    body:
      encoding: ASCII-8BIT
   [...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/the-mango-song?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41f2ee8dbff205d8c4a7f095fb2e108a"
    body:
      encoding: ASCII-[...]
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/hoods?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:47:33 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/hoods?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cedc4389568b3f2c4f62300efb7ac009"
    body:
      encoding: ASCII-8BIT
   [...]
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/shows?page=1&per_page=1&sort_attr=date&sort_dir=asc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97d75b06701c090226015d205f45cfff"
    body:
      enco[...]
