---
http_interactions:
- request:
    method: get
    uri: https://phish.in/api/v1/songs/3%20mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:39:13 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/3%20mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 20:39:14 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/songs/mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:39:14 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/mangos?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 20:39:14 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/songs/mango?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:39:15 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/mango?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c01a331643292dcdabbdd2e10aa1417a"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[{"id":482,"title":"The
        Mango Song","alias_for":null,"tracks_count":97,"slug":"the-mango-song","updated_at":"2018-12-27T03:40:52Z"}],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[{"id":71712,"track_id":1269,"tag_id":4,"created_at":"2019-04-14T01:01:46.555Z","notes":"An
        unusual vocal jam occurs alongside \"On Broadway\" teasing, followed by a
        rocking and intense jam, which is unfinished, and -\u0026gt; to \"The Mango
        Song.\"","starts_at_second":null,"ends_at_second":null,"transcript":null},{"id":72677,"track_id":7266,"tag_id":4,"created_at":"2019-04-14T01:02:21.489Z","notes":"Long,
        very musically-oriented intro. Serious improvisation, but unlike many other
        strong versions, this one is far less dissonant and shrill. Rather, it is
        very rich musically, including little jams on \"The Mango Song\" and \"Magilla.\"","starts_at_second":null,"ends_at_second":null,"transcript":null},{"id":69864,"track_id":4913,"tag_id":4,"created_at":"2019-04-14T01:00:42.637Z"[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/the-mango-song?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41f2ee8dbff205d8c4a7f095fb2e108a"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":482,"title":"The
        Mango Song","alias_for":null,"tracks_count":97,"slug":"the-mango-song","updated_at":"2018-12-27T03:40:52Z","tracks":[{"id":11069,"show_id":534,"show_date":"1989-03-30","title":"The
        Mango Song","position":9,"duration":408059,"jam_starts_at_second":null,"set":"2","set_name":"Set
        2","likes_count":2,"slug":"the-mango-song","tags":[{"id":1,"name":"SBD","priority":1,"group":"Audio","color":"#999999","notes":null,"transcript":null,"starts_at_second":null,"ends_at_second":null},{"id":8,"name":"Debut","priority":7,"group":"Song
        Content","color":"#8fabd9","notes":null,"transcript":null,"starts_at_second":null,"ends_at_second":null}],"mp3":"https://phish.in/audio/000/011/069/11069.mp3","song_ids":[482],"updated_at":"2013-03-30T04:58:09Z"},{"id":11130,"show_id":538,"show_date":"1989-04-15","title":"The
        Mango Song","position":4,"duration":394188,"jam_starts_at_second":null,"set":"2","set_name":"Set
        2","likes_count":0,"slug":"the-mango-song","tags":[],"mp3":"https://phish.in/audio/000/011/130/11130.mp3","song_ids":[482],"updated_at":"2013-03-30T04:58:08Z"},{"id":11255,"show_id":546,"show_date":"1989-05-26","title":"The
        Mango Song","position":11,"duration":305868,"jam[...]
- request:
    method: get
    uri: https://phish.in/api/v1/shows/2000-09-17?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bfd4e40ce4b3d0156bc804e53554f434"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":1034,"date":"2000-09-17","duration":10560602,"incomplete":false,"sbd":false,"remastered":false,"tags":[],"tour_id":45,"venue":{"id":432,"slug":"merriweather-post-pavilion","name":"Merriweather
        Post Pavilion","other_names":[],"latitude":39.209645,"longitude":-76.86259,"shows_count":18,"location":"Columbia,
        MD","updated_at":"2018-08-12T15:57:38Z"},"venue_name":"Merriweather Post Pavilion","taper_notes":"Phish\r\n9-17-00\r\nMerriweather
        Post Pavilion\r\nColumbia, MD\r\n\r\nSource: Neumann KM150 \u003e Oade m248
        \u003e DA-P1 (NOS) @48khz\r\nTransfer: Tascam DA20mkII \u003e Event Gina S/PDIF
        \u003e Cool Edit Pro resampling at maximum quality to 44.1khz\r\nLoud pop
        during Guyute (present on DAT source, sounds like someone smacked the mic)
        was smoothed with CEP\r\nPlease notify jamie@treworgy.com if there are any
        problems found with this transfer\r\n\[...]
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:39:18 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5a9f87b9f7153a6f95ef076a4519b90"
    body:
      encoding: ASCII-8BIT
    [...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/harry-hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f92d834a7c6e5ba11d4d0f3b1462b8f"
    body:
      encoding: ASCII-8BIT[...]
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/hoods?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:39:21 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/hoods?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cedc4389568b3f2c4f62300efb7ac009"
    body:
      encoding: ASCII-8BIT
   [...]
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/shows?page=1&per_page=1&sort_attr=likes_count&sort_dir=desc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d427a35203f14e0474020f1a5ba97b7"
    body:
  [...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/invalid-option?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 20:39:24 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/invalid-option?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a21e0686dc4ce7b8c9cbae0f92721b36"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[]}}'
  recorded_at: Sat, 27 Jul 2019 20:39:24 GMT
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/tracks?page=1&per_page=1&sort_attr=likes_count&sort_dir=desc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c5585bb68281803ac3e653bd27324ac"
    body:
 [...]
