@import "bulma";

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.dashboard {
  font-size: 26px;
  width: 1050px;
  text-align: center;
}

.command-table {
  font-size: 18px;

  .command-col {
    width: 300px;
  }
}
