@import "font-awesome";

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.main {
  font-size: 26px;
  width: 1050px;
  text-align: center;

  h1 {
    font-weight: bold;
  }

  sup {
    font-size: 12px;
  }

  .instructions {
    font-size: 22px;
  }
  .main-example {
    color: #904f4f;
    font-weight: bold;
  }

  .command-table {
    font-size: 18px;
    width: 100%;

    .command-cell {
      width: 300px;
      font-size: 24px;
    }
    .examples {
      white-space: nowrap;
      color: #904f4f;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .inline {
    display: inline;
  }

  .chat_buttons {
    vertical-align: middle;
    margin-top: 30px;

    .slack_btn {
      margin-right: 20px;
    }
    .discord_btn {
      font-family: "Helvetica";
      font-size: 15px;
      height: 40px;
    }
  }

  .big-checkmark {
    font-size: 150px;
    color: #0c7c3c;
    margin-bottom: 20px;
  }
}
