---
http_interactions:
- request:
    method: get
    uri: https://phish.in/api/v1/tags/jamcharts?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97f94e4079aadb971ae0a7fb977aa863"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":4,"name":"Jamcharts","slug":"jamcharts","group":"Curated
        Selections","color":"#e88890","priority":4,"description":"Phish.net Jam Charts
        selections (phish.net/jamcharts)","updated_at":"2019-02-10T06:58:41Z","show_ids":[],"track_ids":[6,7,10,20,24,26,36,37,41,50,51,52,55,79,94,111,115,133,140,142,145,146,147,216,245,251,269,284,298,300,304,307,308,317,319,324,330,332,333,340,341,344,354,355,367,371,382,383,412,413,434,480,482,487,489,495,502,523,527,534,539,596,600,605,632,634,650,661,796,800,803,836,859,919,973,983,1012,1026,1031,1040,1060,1061,1074,1076,1138,1142,1143,1144,1147,1156,1166,1168,1172,1177,1182,1185,1186,1194,1196,1198,1223,1260,1267,1269,1275,1291,1304,1331,1334,1336,1339,1354,1392,1450,1458,1488,1499,1513,15[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Record not found"}'
  recorded_at: Sat, 27 Jul 2019 10:10:00 GMT
- request:
    method: get
    uri: https://phish.in/api/v1/search/hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5a9f87b9f7153a6f95ef076a4519b90"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"exact_show":null,"other_shows":[],"songs":[{"id":330,"title":"Harry
        Hood","alias_for":null,"tracks_count":375,"slug":"harry-hood","updated_at":"2018-12-27T03:40:52Z"}],"venues":[],"tours":[],"tags":[],"show_tags":[],"track_tags":[{"id":72736,"track_id":317,"tag_id":4,"created_at":"2019-04-14T01:02:23.321Z","notes":"Strong
        early \"Hood\" includes a long, slow-tempo intro (to 3:50) with dogs barking
        in the background, and a soaring and unusually long (for this period) Trey-led
        jam, prompting Fishman to comment \"that''s why I''m in the band.\"","starts_at_second":null,"ends_at_second":null,"transcript":null},{"id":70584,"track_id":487,"tag_id":4,"created_at":"2019-04-14T01:01:07.998Z","notes":"Exceptionally
        powerful early version with excellent Trey/Page interplay and a huge peak.
        A very moving \"Hood.\"","starts_at_second":null,"ends_at_second":null,"transcript":null},{"id":71289,"track_id":15063,"tag_id":4,"created_at":"2019-04-14T01:01:32.338Z","notes":"This
        is a terrific compact \"Hood\" with crisp, sharp playing, good interplay,
        and strong Trey. Great sbd r[...]
- request:
    method: get
    uri: https://phish.in/api/v1/songs/harry-hood?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f92d834a7c6e5ba11d4d0f3b1462b8f"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":330,"title":"Harry
        Hood","alias_for":null,"tracks_count":375,"slug":"harry-hood","updated_at":"2018-12-27T03:40:52Z","tracks":[{"id":37,"show_id":6,"show_date":"1985-10-30","title":"Harry
        Hood","position":1,"duration":678113,"jam_starts_at_second":null,"set":"1","set_name":"Set
        1","likes_count":7,"slug":"harry-hood","tags":[{"id":1,"name":"SBD","priority":1,"group":"Audio","color":"#999999","notes":null,"transcript":null,"starts_at_second":null,"ends_at_second":null},{"id":4,"name":"Jamcharts","priority":4,"group":"Curated
        Selections","color":"#e88890","notes":"First known performance. Song structure
        today is remarkably similar to this initial version, but this one also has
        some added jamming before and during the \"Mr. Minor\" section. The main jam
        segment has the same melodic flow as today.","transcript":null,"starts_at_second":null,"ends_at_second":null}],"mp3":"https://phish.in/audio/000/000/037/37.mp3","song_ids":[330],"updated_at":"2013-03-30T04:10:43Z"},{"id":26817,"show_id":1357,"show_date":"1986-04-01","title":"Harry
        Hood","position":3,"duration":644833,"jam_starts_at_second":null,"set":"1","set_name":"Set
        1","likes_count":3,"slug":"harry-hood","tags":[],"mp3":"https://phish.in/audio/000/026/817/26817.mp3","song_ids":[330],"updated_at":"2013-04-07T22:43:55Z"},{"id":96,"show_id":10,"show_date":"1986-10-15","title":"Harry
        Hood","position":23,"duration":567510,"jam_starts_at_seco[...]
[...]
- request:
    method: get
    uri: https://phish.in/api/v1/tracks/12729?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ee7509640d3846be44a7a8a9c0f1d2182ab15a110d1eef55757a76fb3a671816e9013a4060e892164b2462fdcb0bf4d1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"389d2000cc29b97da6a24f213eacb6cb"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"total_entries":1,"total_pages":1,"page":1,"data":{"id":12729,"show_id":626,"show_date":"1995-07-01","title":"Harry
        Hood","position":17,"duration":877479,"jam_starts_at_second":null,"set":"2","set_name":"Set
        2","likes_count":10,"slug":"harry-hood","tags":[{"id":1,"name":"SBD","priority":1,"group":"Audio","color":"#999999","notes":null,"transcript":null,"starts_at_second":null,"ends_at_second":null},{"id":4,"name":"Jamcharts","priority":4,"group":"Curated
        Selections","color":"#e88890","notes":"Great interplay between Page and Trey
        leads builds steadily and bursts into a soaring Trey solo and powerful peak.","transcript":null,"starts_at_second":null,"ends_at_second":null}],"mp3":"https://phish.in/audio/000/012/729/12729.mp3","song_ids":[330],"updated_at":"2013-03-30T04:54:42Z"}}'
  recorded_at: Sat, 27 Jul 2019 10:10:03 GMT
recorded_with: VCR 5.0.0
